<!--
  ~ Copyright 2019 - 2024 Brain Craft Ltd. - All Rights Reserved
  ~
  ~ This file is a part of Video Crop.
  ~
  ~ Unauthorized copying of this file, via any medium is strictly prohibited.
  ~ Proprietary and confidential.
  ~
  ~ @author: shakib@braincraftapps.com
  ~ @file: AndroidManifest.xml
  ~ @modified: Aug 13, 2024, 11:22 AM
  -->

<manifest />
